3dshapes_autoencoder/3dshapes.h5
kitchenware_classification/data
kitchenware_classification/kitchenware_classification.zip
road_segmentation/cityscapes_data
road_segmentation/.virtual_documents/
VAE_synthetic_data/exeriments/data
VAE_synthetic_data/data
